Uebung3/Uebung3.pro.user
Uebung3-build
Addressbook/Addressbook.pro.user
Addressbook/Addressbook-build*
Addressbook/Addressbook.pro.user
Addressbook-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/
